@model Appxery.Models.AppXFromBundle

@{
    ViewBag.Title = string.Format("{0} (v{1}, {2}) - Appxery", Model.Name, Model.Version.ToString(), Model.ProcessorArchitecture.ToString());
}

<h3>@string.Format("{0} (v{1}, {2})", Model.Name, Model.Version.ToString(), Model.ProcessorArchitecture.ToString())</h3>

<fieldset>
    <legend>Details</legend>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Name
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Size
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.Size) bytes
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Publisher ID
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.Publisher)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Display Name
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.DisplayName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Publisher Display Name
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.PublisherDisplayName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label">
                Description
            </div>
            <div class="col-sm-9">
                <div class="control-value">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
</fieldset>
<p class="col-sm-9 col-offset-3">
    <a href="@Url.Action("packageDownload", new { controller = "bundle", id = ViewBag.BundleId, appxId = Model.AppxId })" class="btn btn-primary"><i class="icon-download-alt"></i> Download</a>
    <a href="@Url.Action("Index", new { controller = "home" })" class="btn btn-default"><i class="icon-align-justify"></i> Back to Listing</a>
</p>
